<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-C-Compiler</title>
    <link rel="stylesheet" href="/Stylesheets/homePageStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.js"></script>
</head>
<body>
    <h1>Online C Compiler</h1>
    <div id="workspace"></div>
    <button id="submit" type="button">Submit</button>
    <div id="outdiv">
        <!-- <span id="outtitle">OUTPUT</span> -->
        <div id="output"></div>
    </div>
    
<script src="/Javascript/homePageJS.js"></script>
</body>
</html>